/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE BELOW */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 20px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
    font-family: Helvetica;
}

li a:hover {
    color: #f98388;
}

h1 {
    font-family: Helvetica;
    font-size: xx-large;
    padding: 50px;
}

.designs {
    padding: 100px;
    color: black ;
    font-family: Helvetica;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

/* DESIGN AND SHOP CSS USING CODING FROM GRID LESSON */

.design {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}
  
.design h2 {
    margin: 0;
    border-bottom: 4px solid #f98388;
    font-weight: bolder;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
  
.design button {
    text-decoration: none;
    background-color: #e15771;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    outline: none;
}
  
.icon {
    font-size: 4rem;
  }
  
.shop{
    display: grid;
    grid-template-columns: repeat(3, 417px);
    gap: 16px;
    justify-content: center;
}
  
.design {
    display: flex;
    flex-direction: column;
    background-color: white;
}
  
.icon{
    order: -1;
    align-self: center;
}
  
.design p {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

/* ABOUT PAGE FLEX BOX */

.about {
    background-image: url(../mtm6201-midterm/images/pink_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox {
    display: flex;
    align-items: center;
}

.images {
    display: flex;
    flex-direction:row-reverse;
}

#heading {
    font-weight: bolder;
}

#text {
    padding-right: 100px;
}

/* ANIMATION */

.design:hover { 
    transform: scale(1.2);
    transition: transform 1s;
  }

.banner:hover {
    transform: scale(.8);
    transition: transform 3s;
  }

/* ABOUT AND DESIGN MEDIA QUERIES */

@media screen and (max-width: 960px) {

    .about {
      background-image: url(../mtm6201-midterm/images/pink_background.jpg);
      justify-content: center;
    }

    .flexbox  {
        flex-direction: column-reverse;
    }

    #text{
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.322);
    }

    .images {
        width: 80%;
        border: 2px solid black;
    }

  }

  /* SO I TRIED TO DO THE DESIGN PAGE MEDIA QUERIES, BUT I HAVE NO CLUE HOW TO MAKE THE GRID INTO ONE STRIGHT LINE FOR MOBILE FORMATTING */