body {
    background-image: url(../mtm6201-midterm/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 20px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
    font-family: Helvetica;
}

li a:hover {
    color: #ffffff;
}

h1 {
    font-family: Helvetica;
    font-size: xx-large;
    padding: 50px;
}

h2 {
    display: flex;
    color: black ;
    font-family: Helvetica;
    font-size: small;
    align-content: flex-end;
}

/* media queries */

@media screen and (max-width: 960px) {
    body {
      background-image: url(../mtm6201-midterm/images/mobile.jpg);
    }
  }